/*Fonts*/
@font-face {
  font-family: 'GOTHAM-LIGHT';
  src: url('../fonts/GOTHAM-LIGHT.TTF');
 }
@font-face {
  font-family: 'GOTHAM-BLACK';
  src: url('../fonts/GOTHAM-BLACK.TTF');
 }
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
 }
@font-face {
  font-family: 'GrandHotel-Regular';
  src: url('../fonts/GrandHotel-Regular.otf');
 }

.small-padding {
    padding: 5px;
}

.active {
    color: #85d6df !important;
}
.active:active {
    color: #85d6df;
}
.active:focus {
    color: #85d6df;
}





/*
**----Header Section----**
*/

.header-section {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    margin-top: 7%;
    background-image: url('../img/shop-cover.png');
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.cover-text {
    text-align: left;
    color: white;
}

.cover-text h1 {
    font-size: 45px;
}

.cover-text .first-paragph {
    font-family: 'GOTHAM-LIGHT';
}

.cover-text .second-paragph {
    margin-top: 0px;
    font-family: 'GOTHAM-BLACK';
}

.cover-text button {
    background-color: #fe908b;
    border: none;
    height: 40px;
    width: 200px;
    color: white;
    font-family: 'Montserrat';
    border-radius: 5px;
    margin-top: 20px;
}
.cover-text button i {
    padding-left: 7px;
}






/*
**----Section 1----**
*/
.section-1 {
  padding: 100px 20px;
}

.section-1 h1 {
  font-family: 'GrandHotel-Regular';
  font-size: 50px;
  color: #85d6df;
}

.section-1 p {
  font-family: 'GOTHAM-LIGHT';

}

.section-1 span {
  color: #85d6df;
  font-family: 'GOTHAM-LIGHT';
}





/*
**----Section 2----**
*/
.section2 {
    padding: 70px 0px;
    background: #a5ceee;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.section2 .image-section img{
  width: 100%;
  margin-top: 30px;
}

.section2 button {
    background-color: #fe908b;
    border: none;
    height: 40px;
    width: 200px;
    color: white;
    font-family: 'Montserrat';
    border-radius: 5px;
    margin-top: 20px;
}

.text-section {
  text-align: center;
}

.text-section h1 {
  color: white;
  font-size: 50px;
  font-family: 'GrandHotel-Regular';
}

.text-section p {
  color: white;
  font-family: 'GOTHAM-LIGHT';
  padding: 10px 0px;

}
.padding-middle {
  padding: 30px 0px;
}





/*
**----Section 3----**
*/
.section3 {
    padding: 70px 0px;
    background: #a5ceee;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}



.shop-panel1 {
  text-align: center;
  padding: 0px 30px 0px 30px;
}
.shop-panel1 .panel-header {
  background-color: #f2f2f2; 
  padding: 
}
.panel-header h1 {
  font-family: 'GrandHotel-Regular';
  color: #85d6df;
  font-size: 45px;
  padding-top: 15px;
}
.panel-header p {
  color: #85d6df;
  font-family: 'GOTHAM-LIGHT';
  font-size: 12px;
  padding: 15px 20px;
  margin: 0px;
}
.panel-body {
  background-color: white;
  color: #344a5f;
}
.panel-body p {
  font-family: 'GOTHAM-LIGHT';
  font-size: 12px;
  padding: 10px 20px;
  margin: 0px;
}
.panel-footer1 {
  background-color: #fe908b;
  padding: 13px 20px 8px 20px; 
}
.panel-footer1 p {
  color: white;
  font-size: 12px;
}


/*Map section*/

.contact-section2 {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    background: white;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.contact-section2 h1 {
    font-family: 'GrandHotel-Regular';
    color: #a5ceee;
    font-size: 70px;
}

.contact-section2 h4 {
    font-family: 'GrandHotel-Regular';
    color: #a5ceee;
    font-size: 30px;
}

.contact-section2 p {
    font-family: 'GOTHAM-LIGHT';
    color: #a5ceee;
    padding-top: 10px;
}




/*
**----Section 4----**
*/

.section4 {
    padding: 70px 0px;
    background: #a5ceee;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    text-align: center;
    color: white;
}

.section4 h1{
  font-family: 'GrandHotel-Regular';
  font-size: 45px;
}
.section4 p {
  font-family: 'GOTHAM-LIGHT';
  padding-bottom: 20px;
}

/*Inputs*/
.input-s input{
  background-color: transparent;
  border-radius: 5px;
  border: solid 2px white;
  width: 100%;
  padding: 20px 15px;
  margin: 5px;
}
.input-s input:active {
  outline: none;
}
.input-s input:focus {
  outline: none;
}
/*Data*/
.datepicker {
  cursor: pointer;
  width: 200px;
  text-align: center;
  z-index: 99999999999;
}
.input-d input {
  background-color: #fe908b;
  width: 100%;
  border: none;
  padding: 22px 15px;
  margin: 5px;
  border-radius: 5px;
}
.input-d input:hover {
  cursor: pointer;
}
.select-package {
  background-color: #fe908b;
  width: 100%;
  border: none;
  padding: 22px 15px;
  margin: 5px;
  border-radius: 5px;
}
.select-package option {
  background-color: white;
  color: #344a5f;
}
.select-package:active {
  outline: none;
}
.select-package:focus {
  outline: none;
}
/*Select*/

.input-e {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}
.input-e input {
  background-color: #fe908b;
  color: white;
  font-family: 'GOTHAM-LIGHT';
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 5px;
}

/*
**----Footer----**
*/

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url('../img/footer-backg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .rights-footer {
    text-align: left;    
    font-family: 'GOTHAM-LIGHT';
    font-size:20px; 
    color: #85d6df;
}

footer .socialmedia-footer {
    text-align: right;
    font-size:20px; 
    color: #85d6df;
}
footer i {
    padding: 0px 10px;
    
}
@media only screen and (max-width: 844px) {
    footer {
        text-align: center;
    }
    .desktop-d-n {
      display: none;
    }
    .rights-footer {
        display: none;
    }
    footer .socialmedia-footer {
        text-align: center !important;
    }
    .shop-panel1 {
      text-align: center;
      padding: 0px 0px 0px 30px;
    }
    .cover-text h1 {
        font-size: 35px;
    }

}



/*
****
Placeholder Color
****
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-family: 'GOTHAM-LIGHT';
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-family: 'GOTHAM-LIGHT';
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-family: 'GOTHAM-LIGHT';
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-family: 'GOTHAM-LIGHT';
}